version: "3.7"

services:
  stripe:
    image: stripe/stripe-cli:latest
    container_name: stripe_cli
    command: listen --api-key ${STRIPE_API_KEY} --device-name ${STRIPE_DEVICE_NAME}
    extra_hosts: 
      - "host.docker.internal:host-gateway"